.example-spacer {
    flex: 1 1 auto;
  }
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .container{
    padding-top:20px ;
    margin: auto;
    max-width: 1250px;
  }
  mat-form-field{
    width: 100%;
  }

  /* table {
    width: 100%;
  }
  
  
  
  td, th {
    width: 25%;
  } */